 
// FONT-FAMILIES
$ml-font-family-main: 'Proxima Nova',  'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; 
$ml-font-family-alt: '';

// COLORS PALLETTE
$ml-main-color: #FFE600; 
$ml-text-color-regular: #333;
$ml-text-color-light: #EEE;
$ml-text-color-grey: #999;
$ml-text-color-orange: #dc7b1c;
$ml-text-color-blue: #3483FA;

// LAYOUT DIMENSIONS
$ml-header-height: 60px;
$ml-block-gutter: 20px; 

// FONT WEIGHTS
$font-x-light: 200;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-x-bold: 800;
$font-black: 900;
 
// FONT SIZES
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-34: 34px;
